<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhwan.mask">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- key value for Mhwan
    <meta-data android:name="com.kakao.sdk.AppKey" android:value="c2d6f8772b5c1c3499b1f96394c34296"/> -->

    <!-- key value for hs -->
    <meta-data android:name="com.kakao.sdk.AppKey" android:value="c8c368fe3e5399609e355d4f0777fe4c"/>

    <application
        android:name=".Util.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.MapActivity"/>
    </application>

</manifest>